@font-face {
    font-family: 'Hitmarker Text';
    src: url('HitmarkerText-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Hitmarker Text';
    src: url('HitmarkerText-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Hitmarker Condensed';
    src: url('HitmarkerCondensed-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Hitmarker Condensed';
    src: url('HitmarkerCondensed-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display:swap;
}
