hr.social {
  margin: 1.0rem 0;
  border: none;
  border-top: 1px solid var(--main-border-color);
}

#socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.5rem 0;
}

a.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition: transform 0.2s ease;
  text-decoration: none;
}

#socials a.social::after {
  content: none !important;
  background: none !important;
}

a.social:hover,
a.social:focus {
  transform: scale(1.4);
}

i.social-icon {
  font-size: 2.5rem;
  color: #696969;
  opacity: 0.6;
  transition: color 0.2s, opacity 0.2s;
}

i.social-icon.colored {
  opacity: 1;
}

a.social[title='GitHub'] i.social-icon.colored { color: #333; }
a.social[title='YouTube'] i.social-icon.colored { color: #ff0000; }
a.social[title='Instagram'] i.social-icon.colored { color: #e4405f; }
a.social[title='ArtStation'] i.social-icon.colored { color: #13aff0; }
a.social[title='Behance'] i.social-icon.colored { color: #1769ff; }
a.social[title='DeviantArt'] i.social-icon.colored { color: #05cc47; }
a.social[title='CGTrader'] i.social-icon.colored { color: #195996; }
a.social[title='Sketchfab'] i.social-icon.colored { color: #1caad9; }
a.social[title='Linktree'] i.social-icon.colored { color: #43e660; }

#socials i.social-icon {
  max-width: 100%;
  max-height: 100%;
  box-sizing: content-box;
}
