/* Style selectable elements */
.selection {
  font-size: 1.08rem;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
  line-height: 1.75;
  cursor: text;
}

/* Style for user selection */
.selection::selection {
  background: var(--prompt-tip-bg);
  border-radius: 15px;
  outline: none;
}

/* Style for dynamically highlighted text */
.mark-special-selected {
  background: var(--prompt-warning-bg); /* rgba(255, 200, 120, 0.9) */
  border: 1px solid var(--prompt-warning-icon-color); /* #ffa500 */
  border-radius: 5px;
  padding: 0 2px;
  display: inline;
  color: inherit;
}

/* Optional: Style for when selections are active */
body.myapp-selections-enabled .selection {
  outline: 0px solid #8957e5;
  border-radius: 4px;
}
